<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>



<p>

</p>

<p>

</p>

<p>

</p>

<p>

</p>

<%= link_to 'Edit', edit_user_profiles_path(@profile) %> |
<%= link_to 'Back', root_path %>
