<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project2 SocialAPP!</title>
</head>
<body>
<h1>Welcome to Social App</h1>

<ul>
  <li> <%=link_to("See organizations", :api_v1_organizations) %></li>
  <li> <%=link_to("See events", :api_v1_events) %></li>
  <li> <%=link_to("See users", :users) %></li>
</ul>
</body>
</html>